@model ProfileTask.Models.Employee
@using ProfileTask.Helper


@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>



<div class="container">
    <div class="row">
        <div class="col-8">
            <div class="row">
                <img src="@Model.backgroundPicturePath" style="height: 150px;" />

                <div class="card  justify-content-start">
                  <div class="row g-0">
                        <div class="col-md-4 p-0">
                            <img src="@Model.employeePicturePath" class="rounded-start w-50" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h5 class="card-title mb-0">@Model.employeeName</h5>
                                    <a asp-action="Edit" asp-route-id="@Model.Id" > <i style='font-size:24px' class='far'>&#xf044;</i></a>
                                </div>
                                <p class="card-text">@Model.employeeJop</p>
                                <div class="container">
                                    <div class="container mt-4">
                                        <div class="row">
                                            @foreach (var note in Model.notes)
                                            {
                                                <div class="col-md-4">
                                                   <p class="card-text">
                                                       <small class="text-muted">
                                                         @note.Title |
                                                       </small>
                                                   </p>
                                                </div>
                                            }
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="card ">
                    <div class="card-body mb-2">
                        <h4 class="card-title">
                            About           <a asp-action="EditAbout" asp-route-id="@Model.Id"> <i style='font-size:24px' class='far'>&#xf044;</i></a>
                        </h4>
                        <p class="card-text">@Model.about</p>
                        <hr />
                    </div>
                </div>

                <div class="card">
                    <div class="card-body mb-2">
                        <div class="card-body ">
                            <h5 class="card-title mb-2 text-primary">
                                    Contacts   <a asp-action="ListByID" asp-controller="Contacts" asp-route-id="@Model.Id">  <i style='font-size:24px' class='far'>&#xf044;</i></a>
                            </h5>
                        </div>
                         @foreach (var @item in Model.contacts)
                        {
                        <div class="mx-2 ">
                            <h6 class="text-primary">E-Mail</h6>
                                <p>@item.Email</p>
                            <hr />
                            <h6 class="text-primary">Phone Number </h6>
                                <p>@item.Phone</p>
                            <hr />
                            <h6 class="text-primary">Adress </h6>
                                <p>@item.Address</p>
                        </div>
                            <hr />

                        }
                        
                    </div>
                </div>

                <div class="card">
                    <div class="card-body mb-2">
                        <h5 class="card-title mb-2 text-primary">
                            
                            Background  <a asp-action="ListByID" asp-controller="Background" asp-route-id="@Model.Id">  <i style='font-size:24px' class='far'>&#xf044;</i></a>
                        </h5>
                        @foreach (var @item in Model.backgrounds)
                        {
                            <div class="mx-2 mt-1 d-flex align-items-center">
                                <img src="@item.BackgroundPicture" class="rounded-circle" style="width: 50px; height: 50px;" alt="...">
                                <div class="mx-1">
                                    <h6>@item.Title</h6>
                                        <p>@item.OrgnizeName @DateHelper.FormatDateRange(item.dateFrom, item.dateTo)</p>
                                    </div>
                            </div>
                            <p class="mt-1">@item.Description</p>
                            <hr />
                        }
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h5 class ="card-title mb-2 text-primary">Education <i class="fa-regular fa-pen-to-square"></i></h5>
                        @foreach (var @education in Model.educations)
                        {
                            <div class="mx-2 mt-1 d-flex align-items-center">
                                <img src="@education.EducPicturePath" class="rounded-circle" width="50px" height="50px">
                                <div class="mx-1">
                                    <h6>@education.Title</h6>
                                        <p>@education.Description -  @DateHelper.FormatDateRange(education.dateFrom, education.dateTo)</p>
                                </div>
                            </div>
                            <hr />
                        }
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title mb-2 text-primary"> Licenses& Certification: <i class="fa-regular fa-pen-to-square"></i></h5>
                        @foreach (var @item in Model.Licenses)
                        {
                            <div class="mx-2 mt-1 d-flex">
                                <div class="mx-1">
                                    <h6>@item.Title</h6>
                                    <p>@item.Description</p>
                                </div>
                            </div>
                            <hr />
                        }
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title mb-2 text-primary"> Other Experience <i class="fa-regular fa-pen-to-square"></i></h5>
                        @foreach (var @item in Model.otherExperience)
                        {
                            <div class="mx-2 mt-1 d-flex">
                                <div class="mx-1">
                                    <h6>@item.Title</h6>
                                    <p>@item.Description</p>
                                </div>
                            </div>
                            <hr />
                        }
                    </div>
                </div>

            </div>
        </div>
    </div>
        <div class="col-3 ">
            <div class="card">
                <div class="card-body">

                    <div class="row mt-2">
                        <h5>People with same interest</h5>
                        @foreach (var @tabel in ViewBag.OtherTable)
                        {
                            <div class="mx-2 mt-1 d-flex justify-content-between">
                                <div class="d-flex">
                                    <img src="~/uploads/annotation 2024-05-14 092646.png" class="rounded-circle" width="50px" height="50px" />
                                    <div class="mx-1">
                                        <h6>@tabel.Title</h6>
                                        <p>@tabel.Description</p>
                                    </div>
                                </div>
                                <div>
                                    <i class="fa-solid fa-retweet"></i>
                                </div>
                            </div>
                            <hr />
                        }
                    </div>

                </div>
            </div>
            <div class="card">
                <div class="card-body">

                    <div class="row mt-2">
                        <h5>People with same interest</h5>
                        @foreach (var @tabel in ViewBag.OtherTable)
                        {
                            <div class="mx-2 mt-1 d-flex justify-content-between">
                                <div class="d-flex">
                                    <img src="~/uploads/annotation 2024-05-14 092646.png" class="rounded-circle" width="50px" height="50px" />
                                    <div class="mx-1">
                                        <h6>@tabel.Title</h6>
                                        <p>@tabel.Description</p>
                                    </div>
                                </div>
                                <div>
                                    <i class="fa-solid fa-retweet"></i>
                                </div>
                            </div>
                            <hr />
                        }
                    </div>

                </div>
            </div>

            <div class="card">
                <div class="card-body">

                    <div class="row mt-2">
                        <h5>People with same interest</h5>
                        @foreach (var @tabel in ViewBag.OtherTable)
                        {
                            <div class="mx-2 mt-1 d-flex justify-content-between">
                                <div class="d-flex">
                                    <img src="~/uploads/annotation 2024-05-14 092646.png" class="rounded-circle" width="50px" height="50px" />
                                    <div class="mx-1">
                                        <h6>@tabel.Title</h6>
                                        <p>@tabel.Description</p>
                                    </div>
                                </div>
                                <div>
                                    <i class="fa-solid fa-retweet"></i>
                                </div>
                            </div>
                            <hr />
                        }
                    </div>

                </div>
            </div>

        </div>

</div>
</div>