@model IEnumerable<ProfileTask.Models.Employee>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.employeeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.employeeJop)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.backgroundPicture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.employeePicture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.about)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.employeeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.employeeJop)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.backgroundPicture)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.employeePicture)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.about)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
