@model IEnumerable< ProfileTask.Models.Employee>

@{
    ViewData["Title"] = "Employees";
}

<h1>Employees</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.employeeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.employeeJop)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.backgroundPicturePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.employeePicturePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.about)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.employeeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.employeeJop)
            </td>
            <td>
                <img src="@item.backgroundPicturePath" alt="Background Picture" style="max-width: 100px;" />
            </td>
            <td>
                <img src="@item.employeePicturePath" alt="Employee Picture" style="max-width: 100px;" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.about)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
